# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
.vite/

# OS
.DS_Store
Thumbs.db

# IDE/editor folders
.idea/
.vscode/
*.swp

# System files
*.log
*.pid

# Testing
coverage/

# Build output
build/
out/

# Replit
.replit
.md
